{% extends "shared/_layout.html" %}

{% block title %}Homepage
{% endblock %}


{% block main_content %}
<div class="main_content">
    <h1>Python Package index</h1>

    <h2>Packages</h2>
    TODO: Show packages<br>

    {% for p in packages %}
    <div>
        <span class="title">
            {{ p.name }}
        </span>
        <span class="version">
            {{ p.version }}
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block additional_css %}<!-- some about stuff -->
{% endblock %}

{% block additional_js %}
{% endblock %}